<div class="dropdown">
   <button 
      type="button"
      (click)="toggleOptionsVisibility()" 
      [ngClass]="{opened: optionsVisibility}"
      id="dropdown" 
      class="dropdown__button">
      <span *ngIf="!optionsSelected[1]">
         {{optionsSelected[0]}}
      </span>
      <span *ngIf="optionsSelected[1]">
         {{optionsSelected.length}}
      </span>
      <span 
         *ngIf="!optionsVisibility" 
         class="material-icons-outlined arrows">
         unfold_more
      </span>
      <span 
         *ngIf="optionsVisibility" 
         class="material-icons-outlined arrows">
         unfold_less
      </span>
   </button>  
   <ul 
      *ngIf="optionsVisibility" 
      id="dropdown-items" 
      class="dropdown__items">  
      <li 
         *ngFor="let item of options" 
         (click)="handleOptionsClick($event)" 
         [ngClass]="{selected: optionsSelected.includes(item)}"
         id="{{item}}"> 
         <span 
            class="material-icons-outlined check"
            [ngClass]="{visible: optionsSelected.includes(item) && optionsSelected.length>1}">
            done
         </span>
         {{item}} 
      </li>  
      <p 
         *ngIf="alertVisibility"
         class="alert">
         <span class="material-icons-outlined warning">
            warning_amber
         </span>
         You need to select at least one option. Otherwise a default value will be used when the dropdown is closed.
      </p>
   </ul>
</div>

   
