body {
    background-color: lightgray;
}

section {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: thistle;

}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
}